<aside class="aside">
    <div class="img-wrapper">
        <a class="banner">
            <img src="./static/img/easy-banner.png" alt="banner">
        </a>
    </div>
    <div class="img-wrapper">
        <a class="banner black">
            <span>ADV</span>
        </a>
    </div>
    <div class="img-wrapper">
        <a class="banner">
            <img src="./static/img/easy-banner.png" alt="banner">
        </a>
    </div>
    <div class="img-wrapper">
        <a class="banner black">
            <span>ADV</span>
        </a>
    </div>
</aside>